<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989525129932-ik1tl75b987ufungjjj56g5npe85v63m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989525129932-ik1tl75b987ufungjjj56g5npe85v63m</string>
	<key>API_KEY</key>
	<string>AIzaSyC6SNRGko08HHA8lKciV0NKZjmkmME3iOo</string>
	<key>GCM_SENDER_ID</key>
	<string>989525129932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robertios.CardFortress.secureStore</string>
	<key>PROJECT_ID</key>
	<string>creditcardfortress</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcardfortress.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:989525129932:ios:8a3c7903385dc2ea3da069</string>
</dict>
</plist>
